.tinos-regular {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
}

.tinos-bold {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: normal;
}

.tinos-regular-italic {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: italic;
}

.tinos-bold-italic {
  font-family: "Tinos", serif;
  font-weight: 700;
  font-style: italic;
}

/* Rainbow animated background */
body {
    font: "tinos-regular", serif;
color: black;
  background: linear-gradient(
  180deg,
  #E8DCCB 0%,
  #F3ECE2 50%,
  #FAF8F4 100%);

}    
.h2 {
font family: "arial black", sans-serif;
font-weight: 700;
font-style: normal;
}

#icon {
  font-size: 24px;
  color: rgb(241, 4, 115);
  transition: color 0.3s;
}
#icon:hover {
  color: rgb(4, 117, 241);
}